rset "utf-8";
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
}
ol, ul {
    list-style: none outside none;
}
:focus {
    outline: 0 none;
}
a img {
    border: 0 none;
}
img {
    vertical-align: top;
}
table {
    empty-cells: show;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
#top {
    background-color: #FBFBFB;
    height: 90px;
    width: 100%;
}
.shop_top, .snb .snb_u {
    margin: 0 auto;
    width: 1280px;
}
.shop_top {
    overflow: hidden;
    padding: 10px 0 3px 52px;
}
.shop_top .logo {
    float: left;
}
.shop_top .user_msg {
    color: #666666;
    float: right;
    font-size: 12px;
    padding-top: 3px;
}
.shop_top .user_msg .login {
    color: #265A9B;
    text-decoration: none;
}
.shop_top .user_msg .user {
    font-family: Verdana,Geneva,sans-serif;
    padding: 0 13px 0 7px;
}
.shop_top .user_msg a {
    color: #333333;
    text-decoration: none;
}
.shop_top .user_msg a:visited {
    color: #333333;
    text-decoration: none;
}
.shop_top .user_msg a:hover {
    color: #FF6600;
    text-decoration: none;
}
.shop_top .user_msg .logo_pop {
    line-height: 26px;
    padding-right: 100px;
}
.shop_top .user_msg .txt_pop {
    margin-top: 11px;
    padding-left: 3px;
}
.shop_top .user_msg .logo_vender {
    line-height: 26px;
    padding-right: 50px;
}
.shop_top .user_msg .txt_vender {
    margin-top: 11px;
    padding-left: 3px;
}
.shop_top .user_msg .logo_helper {
    line-height: 26px;
    padding-left: 125px;
    padding-right: 50px;
}
.shop_top .user_msg .txt_helper {
    margin-top: 15px;
    padding-left: 3px;
}
.snb {
    background: url("i/bg_menu.png") repeat-x scroll 0 0 transparent;
    border-bottom: 2px solid #DBDBDB;
    padding-left: 82px;
}
.snb .snb_u {
    overflow: hidden;
}
.snb .snb_l {
    background: url("i/shop_img.gif") no-repeat scroll 0 -52px transparent;
    float: left;
    height: 31px;
    width: 92px;
}
.snb .snb_l.f {
    width: 63px;
}
.snb .on {
    background: url("i/shop_img.gif") no-repeat scroll 0 0 transparent;
    border: 1px solid #1977C4;
    margin-right: -1px;
    position: relative;
    text-align: center;
    z-index: 100;
}
.snb .snb_l a {
    color: #D9F0FF;
    display: block;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    padding: 2px 0 1px;
    text-align: center;
    text-decoration: none;
}
#left {
    background-color: #FBFBFB;
}
.lnb_ifbox {
    float: left;
    width: 170px;
}
.lnb {
    padding: 3px 0 0 5px;
    width: 170px;
}
.lnb .other {
    background-color: #1A7BC7;
    border-right: 2px solid #FFFFFF;
    display: block;
    height: 1px;
    width: 160px;
}
.lnb .other2 {
    background-color: #D1D8DD;
    border-left: 2px solid #FFFFFF;
    display: block;
    height: 2px;
    width: 160px;
}
.shop_lnb {
    border-right: 2px solid #D1D8DD;
    width: 160px;
}
.shop_lnb .lnb_tit {
    background-color: #1A7BC7;
    color: #D9F0FF;
    font-family: "Î¢ÈíÑÅºÚ";
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    padding-left: 9px;
    width: 151px;
}
.shop_lnb .lnb_tit .lt_txt {
    background: url("i/shop_img.gif") no-repeat scroll 0 -105px transparent;
    padding-left: 33px;
}
.shop_lnb .lnb_box {
    background: url("i/bg_left.png") repeat-y scroll 0 0 transparent;
    border-color: #93BED4;
    border-style: solid;
    border-width: 0 1px 1px;
    padding: 0 7px 91px;
    position: relative;
    width: 144px;
}
.shop_lnb .lnb_lst li {
    background: url("i/bg_bt.png") repeat-x scroll 100% 100% transparent;
    height: 40px;
}
.shop_lnb .lnb_lst li a {
    color: #333333;
    font-size: 12px;
    line-height: 40px;
    padding-left: 13px;
    text-decoration: none;
}
.shop_lnb .lnb_lst li a.on {
    background: url("i/shop_img.gif") no-repeat scroll 3px -711px transparent;
    color: #206EBC;
    font-weight: bold;
}
.shop_lnb .lnb_lst li a.on span {
    color: #FF6600;
    font-weight: normal;
}
.shop_lnb .lnb_box .custom {
    background: url("i/shop_img.gif") no-repeat scroll 100% -141px transparent;
    bottom: 13px;
    color: #333333;
    font-size: 12px;
    padding-right: 12px;
    position: absolute;
    right: 6px;
}
.if_main {
    float: left;
    padding: 5px 0 0 8px;
    position: relative;
    width: 1070px;
}
#main {
    background-color: #FBFBFB;
    margin: 0 auto;
    width: 1260px;
}
.shop_main {
    float: left;
    padding: 5px 0 0 8px;
    position: relative;
    width: 1200px;
}
.shop_main .curr_position {
    color: #333333;
    font-size: 12px;
    padding-left: 8px;
}
.shop_main .curr_position a {
    color: #333333;
    text-decoration: none;
}
.shop_main .curr_position a:hover {
    color: #FF9900;
}
.shop_main .user_info {
    border: 1px solid #E4E4E4;
    margin-top: 10px;
    overflow: hidden;
    width: 1028px;
}
.shop_main .photo {
    background: url("i/bg_img.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 134px;
    margin-right: 15px;
    width: 133px;
}
.shop_main .photo img {
    border: 1px solid #DADADA;
}
.shop_main .info {
    border-right: 1px solid #E4E4E4;
    float: left;
    padding: 16px 0 10px 18px;
    position: relative;
    width: 794px;
}
.shop_main .info dl {
    overflow: hidden;
}
.shop_main .info dl dt, .shop_main .info dl dd, .shop_main .info ul li {
    color: #333333;
    float: left;
    font-size: 12px;
    line-height: 16px;
}
.shop_main .info dl dd {
    color: #206EBC;
}
.shop_main .info_dl dt {
    padding-left: 16px;
}
.shop_main .info_dl dd {
    padding: 0 23px 0 0;
}
.shop_main .info_dl .txt {
    color: #666666;
}
.shop_main .info_dl2 {
    padding: 15px 0 14px;
}
.shop_main .info_dl2 dt {
    padding-left: 26px;
}
.shop_main .info_dl2 dd {
    padding: 0 5px 0 0;
}
.shop_main .info ul {
    background-color: #F4F6F9;
    border: 1px solid #E7EEF6;
    overflow: hidden;
    padding: 9px 12px;
    width: 611px;
}
.shop_main .info ul li {
    padding-right: 32px;
}
.shop_main .info ul li a {
    text-decoration: none;
    white-space: nowrap;
}
.shop_main .info ul li span {
    color: #999999;
}
.shop_main .info ul li .txt {
    color: #206EBC;
}
.shop_main .info ul li .txt2 {
    color: #FF3300;
}
.shop_main .info .logout, .shop_main .btn_type3 {
    background: none repeat scroll 0 0 #1A7BC7;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    width: 42px;
}
.shop_main .info .logout {
    position: absolute;
    right: 12px;
    top: 15px;
}
.shop_main .info .btn_area {
    margin-top: 14px;
}
.shop_main .info .btn_area .btn_into, .shop_main .info .btn_area .btn_view, .shop_main .info .btn_area .btn_jd {
    background: url("i/shop_img.gif") no-repeat scroll 0 -210px transparent;
    color: #333333;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 34px;
    line-height: 32px;
    padding-left: 10px;
    text-decoration: none;
}
.shop_main .info .btn_area .btn_into {
    color: #F4F7FF;
    width: 78px;
}
.shop_main .info .btn_area .btn_view {
    background-position: 0 -266px;
    margin-left: 55px;
    width: 106px;
}
.shop_main .info .btn_area .btn_jd {
    background-position: 0 -766px;
    margin-left: 55px;
    width: 104px;
}
.shop_main .help {
    float: right;
    height: 100%;
    width: 215px;
}
.shop_main .help .help_tit {
    background-color: #E9F2F6;
    border-bottom: 1px solid #CFDCE5;
    color: #333333;
    font-family: "Î¢ÈíÑÅºÚ";
    font-size: 16px;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    padding-left: 12px;
}
.shop_main .help .help_tit strong {
    background: url("i/shop_img.gif") no-repeat scroll 0 -167px transparent;
    display: block;
    padding-left: 20px;
}
.shop_main .help .help_lst {
    padding-top: 10px;
}
.shop_main .help .help_lst li {
    float: left;
    font-size: 12px;
    line-height: 30px;
    padding-left: 10px;
    width: 85px;
}
.shop_main .help .help_lst li span {
    color: #999999;
}
.shop_main .help .help_lst li a {
    color: #333333;
    text-decoration: none;
}
.shop_main .help .help_lst li a:hover, .shop_main .section ul li a:hover {
    color: #FF9900;
    text-decoration: underline;
}
.shop_main .section_lst {
    overflow: hidden;
    width: 1028px;
}
.shop_main .section {
    float: left;
    width: 508px;
}
.shop_main .section_v1 {
    padding-right: 10px;
}
.shop_main .section .tit {
    margin-bottom: 10px;
    padding: 15px 0 0 10px;
    position: relative;
}
.shop_main .section .tit strong {
    background: url("i/shop_img.gif") no-repeat scroll 0 -325px transparent;
    color: #1564AD;
    display: block;
    font-size: 14px;
    padding-left: 18px;
}
.shop_main .section .t_v1 strong {
    background-position: 0 -358px;
    padding-left: 19px;
}
.shop_main .section .t_v2 {
    margin-top: 8px;
}
.shop_main .section .t_v2 strong {
    background-position: 0 -386px;
    padding-left: 23px;
}
.shop_main .section .main_left, .shop_main .section .main_right {
    border: 1px solid #E4E4E4;
    float: left;
    width: 508px;
}
.shop_main .section .ml_v1, .shop_main .section .mr_v1 {
    border: medium none;
}
.shop_main .section .main_right {
    margin-left: 5px;
}
.shop_main .section .mr_v1 {
    margin-left: 7px;
}
.shop_main .section h4 {
    background-color: #E8F2F6;
    color: #54565B;
    font-size: 12px;
    height: 34px;
    line-height: 34px;
    padding: 0 10px 0 20px;
    position: relative;
}
.shop_main .section h3.tit a {
    background: url("i/shop_img.gif") repeat scroll 100% -414px transparent;
    color: #949494;
    font-size: 12px;
    font-weight: normal;
    padding-right: 13px;
    position: absolute;
    right: 13px;
    text-decoration: none;
    top: 17px;
}
.shop_main .section ul {
    padding: 0 12px;
}
.shop_main .section ul li {
    background: url("i/bg_li.png") repeat-x scroll 100% 100% transparent;
    font-size: 12px;
    height: 29px;
}
.shop_main .section ul li.l {
    background: none repeat scroll 0 0 transparent;
}
.shop_main .section ul li a {
    color: #333333;
    float: left;
    height: 29px;
    line-height: 29px;
    padding-left: 7px;
    text-decoration: none;
}
.shop_main .section ul li span {
    color: #999999;
    height: 29px;
    line-height: 29px;
}
.shop_main .section ul li span.fr {
    float: right;
    padding-right: 4px;
}
.shop_main .section .tbl_type {
    border: 1px solid #E4E4E4;
    width: 100%;
}
.shop_main .section .tt_v1 {
    margin-top: 17px;
}
.shop_main .section .tbl_type table {
    width: 100%;
}
.shop_main .section .tbl_type table th, .shop_main .section .tbl_type table td {
    font-size: 12px;
    text-align: center;
}
.shop_main .section .tbl_type table th {
    background-color: #E8F2F6;
    height: 34px;
    line-height: 34px;
}
.shop_main .section .tbl_type table td {
    height: 29px;
    line-height: 29px;
}
.shop_main .section .tbl_type table td p {
    background: url("i/bg_li.png") repeat-x scroll 100% 100% transparent;
}
.shop_main .section .tbl_type table td p.f {
    margin-left: 12px;
}
.shop_main .section .tbl_type table td p.l {
    margin-right: 12px;
}
.shop_main .section .tbl_type table td .bd_none {
    background: none repeat scroll 0 0 transparent;
}
.shop_main .section .tbl_type .tbl {
    margin: 0 24px 0 7px;
}
.shop_main .section .tbl_type table td p.txt {
    color: #FF0000;
}
.shop_main .section .tbl_type table td p.txt2 {
    color: #009900;
}
.shop_main .section .tt_v1 table td {
    height: 34px;
    line-height: 34px;
}
.order_form {
    background-color: #F4F6F9;
    border: 1px solid #E4E4E4;
    margin-top: 8px;
    padding: 10px 22px;
    position: relative;
}
.of_v1 {
    color: #333333;
    font-size: 12px;
    height: 34px;
    line-height: 34px;
    padding: 0;
    text-indent: 20px;
    width: 83px;
}
.of_v2 {
    border: medium none;
    margin-top: 0;
    padding: 0;
}
.order_form .btn_view {
    background: url("i/shop_img.gif") no-repeat scroll 100% -652px transparent;
    bottom: 0;
    height: 34px;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    width: 34px;
}
.order_form .btn_visit, .order_form .btn_del, .shop_main .btn_new, .shop_main .btn_outto {
    background: url("i/shop_img.gif") no-repeat scroll 0 -503px transparent;
    bottom: 10px;
    color: #F4F7FF;
    font-size: 12px;
    font-weight: bold;
    height: 34px;
    line-height: 33px;
    padding-left: 18px;
    position: absolute;
    right: 159px;
    text-decoration: none;
    width: 70px;
}
.order_form .btn_del {
    background-position: 0 -827px;
    right: 59px;
}
.shop_main .btn_outto {
    background-position: 0 -210px;
    right: 59px;
}
.order_form .tbl_form {
    width: 850px;
}
.order_form .tf_v2 {
    width: 950px;
}
.order_form .tf_v1 {
    width: 1000px;
}
.order_form table {
    width: 100%;
}
.order_form table td {
    color: #50545B;
    font-size: 12px;
    text-align: left;
}
.order_form table td p {
    padding: 5px 0;
}
table th .input, table td .input {
    background: url("i/bg_input.gif") no-repeat scroll 0 0 transparent;
    border: 1px solid #CBCBCB;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    width: 205px;
}
.order_form table td .input_v1, .order_tbl table th .input_v1 {
    width: 165px;
}
.order_form table td .input_v2 {
    width: 145px;
}
.order_form table td .input_v3 {
    width: 105px;
}
.order_form table td .input_v4 {
    width: 125px;
}
.order_form table td select {
    background: url("i/bg_input.gif") no-repeat scroll 0 0 transparent;
    border: 1px solid #CBCBCB;
    color: #999999;
    height: 22px;
    margin-right: 20px;
    vertical-align: middle;
    width: 145px;
}
.order_form table td select.sel2 {
    margin-right: 0;
}
.order_form table td .to, .order_tbl table th .to {
    padding: 0 18px;
}
.order_tbl table th .to {
    font-weight: normal;
}
.order_form table td .calendar, .order_tbl table th .calendar {
    display: inline-block;
    position: relative;
}
table td .calendar .calen_ico, table th .calendar .calen_ico {
    background: url("i/shop_img.gif") no-repeat scroll 100% -451px transparent;
    height: 22px;
    position: absolute;
    right: 3px;
    text-indent: -9999px;
    top: 2px;
    width: 23px;
}
.shop_main .order_tbl {
    padding-top: 11px;
}
.shop_main .ot_v1 {
    background-color: #F4F6F9;
    border: 1px solid #E4E4E4;
    margin-top: 20px;
    padding: 0 10px;
}
.shop_main .ot_v1 .tbl_box {
    background-color: #FFFFFF;
}
.if_order {
    padding-top: 8px;
}
.if_order .order_form {
    margin-top: 0;
}
.shop_main .shop_ordout {
    background-color: #F4F6F9;
    border: 1px solid #E4E4E4;
    margin-top: 8px;
    padding: 10px 15px;
}
.shop_main .so_v3 {
    margin: 5px 10px 0;
}
.shop_main .h_h3 {
    background: url("i/bg_li.png") repeat-x scroll 100% 100% transparent;
    color: #333333;
    font-size: 12px;
    padding-bottom: 10px;
}
.shop_main .h_v1 {
    margin-bottom: 10px;
    position: relative;
}
.tbl_type2 .br_v2 {
    height: 29px;
    line-height: 29px;
}
.shop_curr {
    background-color: #F4F6F9;
    border: 1px solid #E4E4E4;
    margin-top: 8px;
}
.sc_section {
    padding: 0 15px 10px;
}
.sel_box {
    background-color: #FFFFFF;
    border: 1px solid #CBCBCB;
    height: 322px;
    overflow: auto;
    width: 265px;
}
.sel_box ul {
    height: 300px;
}
.sel_box ul li {
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
}
.sel_box ul li.on {
    background: url("i/bg_sel.png") repeat-x scroll 0 0 transparent;
}
.sel_box ul li.on a {
    color: #206EBC;
    font-weight: bold;
}
.sel_box ul li a {
    background: url("i/shop_img.gif") no-repeat scroll 100% -1025px transparent;
    color: #333333;
    display: block;
    font-size: 12px;
    padding-left: 10px;
    text-decoration: none;
}
.btn_arr {
    display: block;
    padding-left: 25px;
}
.ico_arr {
    background: url("i/shop_img.gif") no-repeat scroll 0 -957px transparent;
    display: block;
    height: 43px;
    text-indent: -9999px;
    width: 32px;
}
.curr_info {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #DCE6F0;
    border-color: -moz-use-text-color #E4E4E4 #E4E4E4;
    border-image: none;
    border-right: 1px solid #E4E4E4;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    padding-left: 17px;
    position: relative;
}
.ci_v1 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #E4E4E4 #E4E4E4 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    height: 35px;
    line-height: 35px;
    margin-top: 8px;
}
.good_btn_area {
    padding-top: 30px;
    text-align: center;
}
.gba_v1 {
    padding: 10px;
}
.tbl_box3 {
    margin-bottom: 30px;
    padding: 15px 30px;
}
.shop_main .so_v1 {
    border-top: medium none;
    margin-top: 0;
}
.h_h3 .must {
    color: #999999;
    font-weight: normal;
}
.curr_info .btn_reelect, .h_v4 .btn_reelect {
    height: 29px;
    line-height: 29px;
    margin-right: 5px;
    position: absolute;
    right: 0;
    top: 3px;
}
.info_re {
    background-color: #FFFFFF;
    border: 1px solid #EBD1AC;
    bottom: -30px;
    color: #333333;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    padding: 0 10px;
    position: absolute;
    right: 3px;
}
.info_re .ir_cont {
    background: url("i/shop_img.gif") no-repeat scroll 0 -1094px transparent;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding-left: 21px;
    position: relative;
}
.info_re .ir_cont .ico {
    background: url("i/shop_img.gif") no-repeat scroll 0 -1057px transparent;
    height: 8px;
    position: absolute;
    right: 0;
    top: -8px;
    width: 8px;
}
.chkbox {
    margin-right: 5px;
    vertical-align: middle;
}
.tbl_box3 .tbl_type2 td p {
    line-height: 19px;
    padding: 5px 0;
}
.tbl_box3 .tbl_type2 td p label {
    margin-right: 30px;
}
.tbl_box3 .tbl_type2 td .input_v1 {
    width: 125px;
}
.tbl_box3 .btn_sku {
    height: 25px;
    line-height: 25px;
    margin-left: 5px;
    vertical-align: -1px;
}
.text_area {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    display: block;
    height: 170px;
}
.tbl_box3 .tbl_type2 .btn_control {
    display: inline-block;
    text-align: center;
}
.order_form table td select.sel {
    width: 105px;
}
.order_form table td p .from {
    background: url("i/shop_img.gif") no-repeat scroll 1px -1223px transparent;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    width: 15px;
}
.btn_goods {
    font-size: 12px;
    padding: 10px 0;
    position: relative;
}
.shop_main .btn_type, .shop_main .btn_type2 {
    background: url("i/bg_btn2.png") repeat-x scroll 0 0 transparent;
    color: #333333;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 29px;
    line-height: 29px;
    margin-right: 30px;
    padding: 0 13px 0 10px;
    text-decoration: none;
}
.shop_main .btn_type2 {
    height: 33px;
    line-height: 33px;
}
.shop_main .btn_new {
    background-position: 0 -1323px;
    height: 29px;
    line-height: 26px;
    padding-left: 24px;
    right: 10px;
    width: 80px;
}
.shop_main .lnk_control {
    display: inline-block;
    line-height: 20px;
    padding-right: 8px;
    white-space: nowrap;
}
.shop_main .lnk_control:hover {
    color: #FF6600;
}
.shop_main .chkwn {
    white-space: nowrap;
}
.tt2_v1, .tt2_v2 {
    margin-left: 30px;
    width: 530px;
}
.tt2_v2 {
    border: 1px solid #E4E4E4;
    margin-left: 40px;
}
.tt2_v2 .edit_ipt {
    text-align: center;
    width: 20px;
}
.tbl_type2 .br_v3 {
    height: 27px;
    line-height: 27px;
    margin: 0 0 0 10px;
}
.shop_main .tbl_box4 {
    background-color: #FFFFFF;
    overflow: hidden;
    position: relative;
}
.tbl_pmpt {
    border: 1px solid #CCCCCC;
    color: #333333;
    font-size: 12px;
    height: 236px;
    line-height: 18px;
    padding: 10px;
    position: absolute;
    right: 20px;
    top: 30px;
    width: 300px;
}
.tbl_pmpt a {
    color: #003399;
    float: right;
    margin-top: 30px;
    text-decoration: none;
}
p.bo_v3 {
    background: none repeat scroll 0 0 transparent;
    padding: 0 0 0 150px;
}
p.bo_v3 .btn_type {
    background: url("i/bg_btn2.png") repeat-x scroll 0 0 transparent;
    color: #333333;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 33px;
    line-height: 33px;
    margin-right: 30px;
    padding: 0 13px 0 10px;
    text-decoration: none;
}
p.bo_v3 .txt_msg {
    color: #333333;
    display: block;
    font-size: 12px;
    padding-bottom: 10px;
}
.shop_sales {
    margin-top: 20px;
    overflow: hidden;
}
.shop_sales .banner {
    background-color: #F3F9FC;
    border: 1px solid #D3E0E8;
    float: left;
    margin: 0 10px 10px 0;
    padding: 10px;
    position: relative;
    width: 480px;
}
.shop_sales .banner .ico_area {
    float: left;
    margin-right: 10px;
}
.shop_sales .banner .ico_area img {
    border: 1px solid #E4E4E4;
    vertical-align: top;
}
.shop_sales .banner dt {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0 11px;
}
.shop_sales .banner dd {
    color: #333333;
    font-size: 12px;
    line-height: 24px;
}
.banner .btn_into, .btn_sale {
    background: url("i/shop_img.gif") no-repeat scroll 0 -210px transparent;
    bottom: 10px;
    color: #F4F7FF;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 34px;
    line-height: 32px;
    padding-left: 10px;
    position: absolute;
    right: 10px;
    text-decoration: none;
    width: 78px;
}
.btn_sale {
    background-position: 0 -1366px;
}
.bs_v1 {
    padding-left: 18px;
    right: 50px;
}
.chkrdo {
    margin-right: 15px;
    vertical-align: top;
}
.tbl_box2 .tbl_type2 label {
    display: inline-block;
    margin: 0 50px 10px 0;
}
.txt_area {
    background-color: #FFFFFF;
    border: 1px solid #E4E4E4;
    height: 200px;
    width: 700px;
}
.tbl_box2 .tbl_type2.tt_v5 {
    background-color: #FFFFFF;
    width: 580px;
}
.tbl_mid {
    background-color: #FFFFFF;
    float: left;
    padding: 0 10px;
    width: 580px;
}
.tbl_mid .tt_v5 td {
    padding: 10px 0;
}
.bo_v5 {
    text-align: center;
}
.shop_main .h_v4 {
    height: 24px;
    line-height: 24px;
    position: relative;
}
.h_v4 .btn_reelect {
    top: -3px;
}
.option {
    border-top: 2px solid #E3E2E0;
    height: 40px;
    margin-top: 10px;
    text-align: center;
}
.option a {
    background: url("i/bg_msg.png") repeat-x scroll 0 0 transparent;
    color: #000000;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    line-height: 22px;
    text-decoration: none;
    width: 100px;
}
.order_form table td p .help_msg {
    background: url("i/shop_img.gif") no-repeat scroll 0 -2120px transparent;
    display: inline-block;
    height: 17px;
    position: relative;
    text-indent: -9999px;
    width: 17px;
}
.order_form table td p .hm_cont {
    background-color: #FFFFFF;
    border: 1px solid #DEDFDF;
    font-size: 11px;
    padding: 5px;
    position: absolute;
    right: -68px;
    text-indent: 0;
    top: 19px;
    z-index: 100;
}
.shop_main .h_v2 {
    height: 29px;
    line-height: 29px;
    margin-bottom: 10px;
    position: relative;
}
.shop_main .h_v2 .btn_reelect {
    color: #F4F7FF;
    height: 29px;
    line-height: 29px;
    margin-right: 5px;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: -2px;
}
p.bo_v4 {
    background: none repeat scroll 0 0 transparent;
    margin: 0;
    padding-top: 5px;
}
.shop_main .h_v3 {
    background: none repeat scroll 0 0 transparent;
    padding: 10px 0 0;
}
.tt_v4 th {
    border-bottom: 1px solid #E4E4E4;
    border-right: 1px solid #E4E4E4;
}
.tt_v4 td {
    border-right: 1px solid #E4E4E4;
}
.tt_v4 th.bd_r, .tt_v4 td.bd_r {
    border-right: medium none;
}
.tt_v4 td.bg {
    background: none repeat scroll 0 0 #FFF0B6;
}
.shop_main .so_v2 {
    background-color: #FFFFFF;
    overflow: hidden;
    padding: 0;
}
.shop_main .h_v5 {
    background: none repeat scroll 0 0 #F4F6F9;
    border-bottom: 2px solid #1557AD;
    height: 34px;
    line-height: 34px;
    padding: 0 0 0 10px;
    position: relative;
}
.h_v5 .flow {
    position: absolute;
    right: 0;
    top: 0;
}
.h_v5 .flow_chd {
    background: url("i/shop_img.gif") no-repeat scroll 100% -1443px transparent;
    color: #666666;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    margin-right: 5px;
    padding-right: 20px;
}
.h_v5 .flow_l {
    color: #666666;
    font-size: 12px;
    font-weight: normal;
    margin-right: 5px;
}
.h_v5 .flow .on {
    background-position: 100% -1477px;
    color: #1557AD;
    font-weight: bold;
}
.account {
    padding: 5px;
}
.account h4 {
    color: #333333;
    font-size: 12px;
    padding-bottom: 10px;
}
.acc_cont {
    color: #666666;
    font-size: 12px;
    line-height: 16px;
    position: relative;
}
.ac_v1 {
    padding-bottom: 20px;
}
.ac_v2 {
    padding-top: 40px;
    text-align: right;
}
.ac_v3 {
    font-size: 13px;
    line-height: 20px;
}
.account_btn {
    background: url("i/bg_li.png") repeat-x scroll 0 0 transparent;
    margin: 20px 0;
    padding-top: 20px;
    position: relative;
}
.account_btn .btn_sku {
    margin: 0 5px 10px 0;
}
.account_btn .txt {
    font-size: 12px;
}
.account_addr {
    bottom: 20px;
    color: #666666;
    font-size: 12px;
    position: absolute;
    right: 20px;
    text-align: right;
}
.account_addr2 {
    color: #666666;
    font-size: 12px;
}
.acc_ol {
    padding-bottom: 20px;
}
.acc_ol li {
    color: #666666;
    font-size: 12px;
    line-height: 16px;
}
.acc_ol li span {
    padding-left: 20px;
}
.acc_ol li strong {
    color: #000000;
    padding-left: 20px;
}
.account_sec {
    padding-left: 20px;
}
.account .tbl_box2 th, .account .tbl_box2 td {
    background: none repeat scroll 0 0 transparent;
}
.account .tbl_type2 tr.bg {
    background: none repeat scroll 0 0 #FFFFFF;
}
.account .tbl_type2 th.bg {
    background: url("i/bg_li.png") repeat-x scroll 100% 100% transparent;
}
.h_v4 .br_v1 {
    right: 70px;
}
.myshop {
    padding-top: 10px;
}
.myshop_cont {
    border: 1px solid #E4E4E4;
}
.myshop_cont .tab {
    background-color: #EDEDED;
    overflow: hidden;
    padding: 0 10px;
}
.myshop_cont .tab li {
    background: url("i/shop_img.gif") no-repeat scroll 0 -1403px transparent;
    float: left;
    height: 25px;
    padding: 5px;
}
.myshop_cont .tab li.f {
    background: none repeat scroll 0 0 transparent;
}
.myshop_cont .tab li a {
    color: #666666;
    display: inline-block;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    width: 55px;
}
.myshop_cont .tab li a.on {
    background-color: #7BB7DE;
    border: 1px solid #5C9BC6;
    color: #FFFFFF;
    height: 23px;
    line-height: 23px;
    width: 53px;
}
.myshop_lst {
    padding: 20px;
}
.myshop_lst li a {
    color: #1557AD;
    font-size: 12px;
    line-height: 30px;
    text-decoration: none;
}
.rule {
    background: url("i/bg_li.png") repeat-x scroll 0 0 transparent;
    margin: 0 20px;
}
.rule_tit {
    color: #333333;
    display: inline-block;
    font-size: 30px;
    padding: 30px 0;
}
.txt_sec {
    font-size: 12px;
    line-height: 16px;
}
.txt_sec strong {
    color: #333333;
    display: inline-block;
    padding: 15px 0;
}
.txt_sec span {
    display: inline-block;
    padding-bottom: 15px;
}
.txt_sec .acc_ol li {
    color: #333333;
}
.myshop .tbl_type2 p a:hover {
    text-decoration: underline;
}
.myshop .tbl_type2 td {
    background: none repeat scroll 0 0 transparent;
}
.myshop .tbl_type2 td p {
    height: 22px;
}
.myshop .tbl_type2 td.f {
    background: url("i/shop_img.gif") no-repeat scroll 10px -1726px transparent;
    padding-left: 20px;
}
.myshop .tbl_type2 td.open, .myshop .tbl_type2 td.mid {
    background: url("i/shop_img.gif") no-repeat scroll 10px -1531px transparent;
}
.myshop .tbl_type2 td.mid {
    background-position: 10px -1800px;
    padding-left: 30px;
}
.myshop .tbl_type2 td.end {
    background-position: 10px -1684px;
    padding-left: 30px;
}
.myshop .tbl_type2 td p {
    background: url("i/bg_li.png") repeat-x scroll 100% 100% transparent;
}
.shop_main .news_sec {
    float: none;
    width: 100%;
}
.shop_main .news_sec .news_ml {
    float: none;
    width: 100%;
}
.service .tbl_box2 .tbl_type2 td p {
    padding: 20px 0 30px;
}
.txt_tit {
    font-weight: normal;
}
.tbl_icon img {
    border: 1px solid #E4E4E4;
    vertical-align: top;
}
.tbl_cont strong, .tbl_cont span {
    display: inline-block;
    padding: 15px 10px;
}
.tbl_cont span {
    padding: 10px;
}
table {
    table-layout: fixed;
}
table td, table th {
    word-wrap: break-word;
}
table th {
    color: #50545B;
}
table td {
    color: #50545B;
}
table tr.bg {
    background: none repeat scroll 0 0 #FFFFFF;
}
table tr.bg2 {
    background: none repeat scroll 0 0 #F4F6F9;
}
.tbl_tab {
    border-bottom: 2px solid #1557AD;
    overflow: hidden;
    padding-left: 9px;
}
.tbl_tab li {
    float: left;
    height: 29px;
}
.tbl_tab li a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("i/bg_tab.png") repeat-x scroll 0 0 transparent;
    border-color: #DBDADA #DBDADA -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    color: #666666;
    display: inline-block;
    font-size: 12px;
    height: 29px;
    line-height: 29px;
    margin-left: 6px;
    padding: 0 14px 0 17px;
    text-decoration: none;
}
.tbl_tab li a.on {
    background: url("i/bg_tab_on.png") repeat-x scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    font-weight: bold;
}
.tbl_box {
    border: 1px solid #E4E4E4;
    width: 100%;
}
.if_tbl_box {
    border-width: 1px 0;
}
.if_page .clearfix {
    width: 900px;
}
.tt_v1 {
    margin-top: 17px;
}
.tbl_type2 a {
    text-decoration: none;
}
.tbl_type2 {
    table-layout: fixed;
    width: 100%;
}
.tt_v2, .tt_v3 {
    border: 1px solid #E4E4E4;
}
.shop_main .tt_v2, .shop_main .tt_v3, .shop_main .tt_bg {
    background-color: #FFFFFF;
}
.tbl_type2 th, .tbl_box .tbl_type2 td, .tbl_box2 .tbl_type2 th, .tbl_box2 .tbl_type2 td, .tbl_box3 .tbl_type2 th, .tbl_box3 .tbl_type2 td {
    font-size: 12px;
    text-align: center;
}
.tbl_type2 th {
    background-color: #E8F2F6;
    color: #50545B;
    height: 34px;
    line-height: 34px;
}
.tbl_type2 th.bg {
    background: none repeat scroll 0 0 transparent;
}
.tbl_type2 td {
    background: url("i/bg_li.png") repeat-x scroll 100% 100% transparent;
    word-wrap: break-word;
}
.tt_v1 td {
    background: none repeat scroll 0 0 transparent;
}
.tbl_type2 td p {
    padding: 10px 0;
}
.tbl_type2 td .btm_line {
    background: url("i/bg_point.gif") repeat-x scroll 0 0 transparent;
}
.tbl_type2 td p.f {
    margin-left: 12px;
}
.tbl_type2 td p.l {
    margin-right: 12px;
}
.tbl_type2 .bd_none {
    background: none repeat scroll 0 0 transparent;
}
.shop_main .section .tbl_type .tt_v6 td p {
    background: none repeat scroll 0 0 transparent;
    padding: 3px 0;
}
.shop_main .txt {
    color: #FF0000;
}
.shop_main .txt2 {
    color: #009900;
}
.shop_main .txt3 {
    color: #206EBC;
}
.shop_main .txt4 {
    color: #666666;
}
.shop_main .txt5 {
    color: #999999;
}
.shop_main .txt6 {
    color: #FF997E;
}
.shop_main .txt7 {
    color: #62C7FC;
}
.tbl_type2 .btn_control, .tbl_type2 .btn_control2 {
    background: url("i/shop_img.gif") no-repeat scroll 0 -608px transparent;
    display: block;
    height: 21px;
    line-height: 21px;
    margin: 0 auto;
    width: 59px;
}
.tbl_type2 .bc_v1 {
    margin-bottom: 8px;
}
.tbl_box2 {
    margin-bottom: 15px;
}
.tbl_box2 .tbl_type2 {
    width: 100%;
}
.tbl_box2 .tt_v3 {
    width: 660px;
}
.tbl_box2 .tbl_type2 th, .tbl_box2 .tbl_type2 td, .tbl_box3 .tbl_type2 th, .tbl_box3 .tbl_type2 td {
    color: #50545B;
}
.tbl_type2 td .input, .tbl_type2 td select {
    background: url("i/bg_input.gif") no-repeat scroll 0 0 transparent;
    border: 1px solid #CBCBCB;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    width: 205px;
}
.tbl_box2 .tbl_type2 td select {
    height: 22px;
    line-height: 22px;
}
.tbl_box3 {
    border: 1px solid #CCCCCC;
    border-radius:15px;
    position: relative;
}
.tb3_v1 {
    border: medium none;
    padding: 0;
}
.tbl_box3 .tbl_type2 td {
    background: none repeat scroll 0 0 transparent;
}
.h_h4 {
    background-color: #F4F6F9;
    color: #50545B;
    font-size: 12px;
    height: 18px;
    padding: 0 5px;
    position: absolute;
    top: -10px;
}
.tb3_br1, .tb3_br2, .tb3_br3, .tb3_br4 {
    background: url("i/shop_img.gif") no-repeat scroll 0 -1126px transparent;
    display: block;
    height: 12px;
    position: absolute;
    width: 12px;
}
.tb3_br1 {
    left: -1px;
    top: -1px;
}
.tb3_br2 {
    background-position: 0 -1149px;
    right: -1px;
    top: -1px;
}
.tb3_br3 {
    background-position: 0 -1170px;
    bottom: -1px;
    left: -1px;
}
.tb3_br4 {
    background-position: 0 -1195px;
    bottom: -1px;
    right: -1px;
}
.txt_lft, .txt_lft2, .txt_lft3 {
    text-align: left;
}
.tbl_box2 .tbl_type2 td .txt_lft3 {
    padding: 5px;
}
.order_form table td p.tl_v1 {
    padding-left: 6px;
}
.txt_ctr {
    text-align: center;
}
.txt_rgt {
    text-align: right;
}
.tbl_box2 .tbl_type2 td p {
    padding: 5px 0;
}
.tbl_box2 .tbl_type2 td p.txt_lft2 input {
    vertical-align: top;
}
.tbl_box2 .tbl_type2 td p.txt_lft2 label {
    padding-top: 2px;
}
.tbl_box2 .tbl_type2 td .total {
    padding: 5px 50px;
}
.tbl_box2 .tbl_type2 td .total span {
    font-size: 16px;
    font-weight: bold;
}
.order_num {
    padding-bottom: 10px;
}
.order_num strong {
    font-size: 12px;
}
.order_num span {
    color: #FF0000;
    font-size: 16px;
    font-weight: bold;
}
.btn_order {
    background: url("i/bg_li.png") repeat-x scroll 0 0 transparent;
    margin: 20px 0;
    padding-top: 20px;
}
.bo_v2 {
    background: none repeat scroll 0 0 transparent;
}
.btn_order a, .btn_cls, .btn_desc, .btn_reelect, .btn_sku {
    background: url("i/bg_btn.png") repeat-x scroll 0 0 transparent;
    color: #F4F7FF;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 33px;
    line-height: 33px;
    margin-right: 30px;
    padding: 0 13px 0 10px;
    text-decoration: none;
}
.tbl_type2 .btn_control2 {
    background-position: 0 -1264px;
    width: 101px;
}
.shop_main textarea {
    color: #333333;
    font-size: 12px;
}
.dotted_line {
    background: url("i/bg_li.png") repeat-x scroll 100% 100% transparent;
    height: 2px;
    margin-bottom: 20px;
}
.pop {
    background-color: #FFFFFF;
    border: 1px solid #1456AD;
    height: 305px;
    position: relative;
    width: 488px;
}
.pop_v1 {
    height: 285px;
    width: 369px;
}
.pop_v2 {
    height: 180px;
    width: 300px;
}
.pop_v3 {
    height: auto;
    width: 369px;
}
.pop_v4 {
    height: auto;
    width: 825px;
}
.pop_v5 {
    height: auto;
    position: relative;
    width: 510px;
}
.pop h4, .pop table th, .pop table td p {
    font-size: 12px;
}
.pop h4 {
    background: url("i/bg_btn.png") repeat-x scroll 0 0 transparent;
    color: #FFFFFF;
    height: 33px;
    line-height: 33px;
    padding-left: 18px;
    position: relative;
}
.pop .pop_tbl {
    border-bottom: 1px solid #CCCCCC;
    margin: 10px;
    padding-bottom: 25px;
}
.pop .pt_v1 {
    margin: 30px 30px 10px;
}
.pop .pt_v2 {
    margin: 20px 30px 0;
}
.pop .pt_v3 {
    border: medium none;
    padding: 0;
}
.pop .tb_v1 {
    border-width: 1px 0;
}
.pop .btn_order {
    background: none repeat scroll 0 0 transparent;
    margin-left: 20px;
    padding-top: 0;
}
.pop .bo_v1 {
    text-align: center;
}
.btn_cel {
    background: url("i/shop_img.gif") no-repeat scroll 10px -878px transparent;
    height: 33px;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 0;
    width: 33px;
}
.btn_cls {
    background: url("i/bg_btn2.png") repeat-x scroll 0 0 transparent;
    bottom: 20px;
    color: #333333;
    position: absolute;
    right: 0;
}
.pop .txt {
    font-size: 14px;
    font-weight: bold;
}
.pop .txt2, .pop .p_txt2 {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;
}
.pop_if .clearfix {
    margin: 10px auto;
}
.pop_v5 .msg {
    background: url("i/shop_img.gif") no-repeat scroll 0 -2026px transparent;
    color: #333333;
    font-size: 24px;
    margin: 60px 80px 20px;
    padding: 10px 0 0 65px;
}
.pop_v5 .cls {
    background: url("i/shop_img.gif") no-repeat scroll 0 -1928px transparent;
    height: 35px;
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
}
.pop_v5 .link, .pop_v5 .link2 {
    font-size: 12px;
    padding-left: 320px;
    text-decoration: none;
}
.pop_v5 .link2 {
    padding-left: 10px;
}
.pop_v5 .msg_bg {
    background: url("i/bg_li.png") repeat-x scroll 0 0 transparent;
    margin: 0 13px;
}
.pop_v5 .mst_bottom {
    background-color: #F4F4F4;
    margin-top: 20px;
    text-align: center;
}
.pop_v5 .info_re2 {
    background-color: #FAF8EA;
    border: 1px solid #EBD1AC;
    color: #333333;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    margin: 10px auto;
    padding: 0 10px;
    width: 440px;
}
.pop_v5 .info_re2 .ir_cont {
    background: url("i/shop_img.gif") no-repeat scroll 0 -1090px transparent;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding-left: 21px;
}
.pop_v5 .pop_btn {
    font-size: 12px;
    margin: 0;
    padding: 10px 0 50px;
}
.pop_v5 .pop_btn a {
    text-decoration: none;
}
.pop_v5 .pop_btn .btn_reelect {
    margin-left: 30px;
}
.pop .p_txt {
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    text-align: left;
}
.page {
    color: #333333;
    font-size: 12px;
    overflow: hidden;
    padding: 10px 10px 0 15px;
}
.page_v1 {
    padding-left: 180px;
}
.fr {
    float: right;
}
.page select {
    background: url("i/bg_input.gif") no-repeat scroll 0 0 transparent;
    border: 1px solid #CBCBCB;
    height: 22px;
    vertical-align: middle;
    width: 45px;
}
.page .input {
    background: url("i/bg_input.gif") no-repeat scroll 0 0 transparent;
    border: 1px solid #CBCBCB;
    height: 22px;
    line-height: 22px;
    padding: 0 6px;
    vertical-align: middle;
    width: 45px;
}
.page .page_sel {
    float: left;
}
.page .page_flip {
    float: right;
}
.page .btn_prev, .page .btn_next {
    background: url("i/shop_img.gif") no-repeat scroll 0 -556px transparent;
    color: #333333;
    display: inline-block;
    height: 29px;
    line-height: 29px;
    margin-left: 7px;
    text-align: center;
    text-decoration: none;
    width: 63px;
}
.m {
    margin: 10px 0;
}
.m, .mt, .mc, .mb {
    overflow: hidden;
}
.clearfix {
    display: block;
    font-size: 12px;
}
.pagin em {
    height: 29px;
    line-height: 29px;
    padding-left: 10px;
}
.pagin a, .pagin span {
    border: 1px solid #CCCCCC;
    float: left;
    font-family: arial;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin-left: 2px;
    overflow: hidden;
    padding: 3px 10px;
    text-decoration: none;
}
.pagin .text, .pagin .current {
    border: medium none;
    font-size: 12px;
    padding: 4px 11px;
}
.pagin a:link, .pagin a:visited {
    color: #005AA0;
}
.pagin a:hover, .pagin a:active {
    background: none repeat scroll 0 0 #005AA0;
    color: #FFFFFF;
    text-decoration: none;
}
.pagin .current, .pagin .current:link, .pagin .current:visited {
    color: #FF6600;
    font-weight: bold;
}
.pagin b {
    background-repeat: no-repeat;
    height: 9px;
    overflow: hidden;
    position: absolute;
    top: 9px;
    width: 5px;
}
.pagin .prev, .pagin .next, .pagin .prev-disabled, .pagin .next-disabled {
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    padding-top: 5px;
}
.pagin .prev-disabled, .pagin .next-disabled {
    color: #CCCCCC;
    cursor: default;
}
.pagin .prev, .pagin .prev-disabled {
    padding-left: 12px;
}
.pagin .prev b {
    background-position: -68px -608px;
    left: 3px;
}
.pagin .prev-disabled b {
    background-position: -80px -608px;
    left: 3px;
}
.pagin .next, .pagin .next-disabled {
    padding-right: 12px;
}
.pagin .next b {
    background-position: -62px -608px;
    right: 3px;
}
.pagin .next-disabled b {
    background-position: -74px -608px;
    right: 3px;
}
.pagin-m a, .pagin-m span {
    font-size: 12px;
    height: 14px;
    line-height: 14px;
}
.pagin-m b {
    top: 5px;
}
.pagin-m .prev, .pagin-m .next, .pagin-m .prev-disabled, .pagin-m .next-disabled {
    height: 14px;
    line-height: 14px;
    padding-top: 3px;
}
.pagin .btn_type {
    float: right;
    font-style: normal;
    height: 25px;
    line-height: 25px;
    margin-left: 5px;
}
.float_div {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #3694E0;
    height: 400px;
    width: 600px;
}
.float_div h2 {
    color: #FFFFFF;
    height: 30px;
    line-height: 30px;
    margin: 1px;
    text-indent: 10px;
}
.float_div span {
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    overflow: hidden;
    padding-right: 10px;
    text-align: right;
    width: 50px;
}
.float_div span a {
    color: #F0FF00;
}
.fixed-btn {
    background: url("i/f-bg.png") repeat-x scroll 0 0 transparent;
    bottom: 0;
    height: 42px;
    left: 0;
    padding-top: 8px;
    position: fixed;
    text-align: center;
    width: 1040px;
}
.shop-pb50 {
    padding-bottom: 50px;
}
.violation-form {
    background-color: #F4F6F9;
    border: 1px solid #E4E4E4;
    color: #666666;
    font-size: 12px;
    margin-top: 8px;
    padding: 7px 15px;
}
.violation-data span {
    padding-right: 40px;
}
.vioation-tbl {
    border-top: 2px solid #1557AD;
}
.order_form table td .vf-select {
    color: #000000;
}
.vioation-tbl td {
    color: #000000;
}
.vioation-tbl td .pl30 {
    padding-left: 30px;
}
.vioation-order {
    border: 1px solid #1456AD;
    padding: 10px;
    position: relative;
}
.vo-v1 {
    border: medium none;
}
.vioation-num {
    color: #333333;
    font-size: 12px;
}
.vioation-tit {
    background: url("i/bg_li.png") repeat-x scroll 100% 100% transparent;
    color: #333333;
    font-size: 16px;
    padding: 10px 0;
    text-align: center;
}
.vioation-tbl2 {
    padding: 10px 0;
    width: 1000px;
}
.vioation-tbl2 table {
    margin: 0 auto;
    width: 900px;
}
.vioation-tbl2 table th p, .vioation-tbl2 table td p {
    color: #50545B;
    font-size: 12px;
    padding: 5px 0;
}
.vioation-tbl2 table th {
    text-align: right;
}
.vioation-tbl2 table .input, .vioation-setpop table .input {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #50545B;
    text-indent: 10px;
    width: 165px;
}
.vioation-tbl2 table .input-v1 {
    width: 96%;
}
.vioation-tbl2 table .input-v2 {
    width: 100px;
}
.vioation-tbl2 table .txt {
    color: #50545B;
    font-size: 12px;
}
.vioation-order .btn_order {
    text-align: center;
}
.vioation-order .btn_order a {
    height: 29px;
    line-height: 29px;
    padding: 0 15px;
}
.vioation-order .cls {
    background: url("i/shop_img.gif") no-repeat scroll 0 -1928px transparent;
    height: 35px;
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
}
.vioation-pop {
    background-color: #E3EDF5;
    border: 1px solid #1456AD;
    bottom: 80px;
    left: 290px;
    position: absolute;
    width: 447px;
}
.vioation-pop-v1 {
    background-color: #FFFFFF;
    bottom: auto;
}
.vioation-pop table {
    width: 100%;
}
.vioation-setpop {
    padding: 10px;
    position: relative;
}
.vs-v1 {
    padding: 0;
}
.btn-cls {
    background: url("i/shop_img.gif") no-repeat scroll -134px -2180px transparent;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
}
.vioation-pop table th, .vioation-pop table td {
    background: url("i/bg_li2.png") repeat-x scroll 100% 100% transparent;
    color: #333333;
    font-size: 12px;
    padding: 10px 0;
}
.vioation-pop table select {
    border: 1px solid #CBCBCB;
    color: #333333;
    height: 22px;
    margin-right: 20px;
    vertical-align: middle;
    width: 145px;
}
.vioation-pop table .bg_none {
    background: none repeat scroll 0 0 transparent;
}
.vioation-pop .btn_sku {
    height: 25px;
    line-height: 25px;
    margin: 0 10px;
    vertical-align: -1px;
}
.vioation-pop .pop-detail {
    background-color: #E3EDF5;
    padding: 5px 0;
}
.vioation-pop .pop-detail2 {
    padding: 10px;
}
.vioation-tbl2 .mgn {
    margin: 10px 0;
}
.vioation-tbl2 .mgn-t {
    margin-top: 20px;
}
.vioation-tbl2 .mgn-l {
    margin-left: 50px;
}
.vioation-tbl2 .txt-ord {
    margin-top: 60px;
    text-align: left;
}
.vioation-tbl2 .txt-date {
    margin-top: 40px;
    text-align: right;
}
.vioation-tbl2 .txt-underline {
    border-bottom: 1px solid #000000;
    display: block;
}
.tbl-type-vio {
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
}
.tbl-type-vio th, .tbl-type-vio td {
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    padding: 10px;
}